@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================
//<ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap&subset=cyrillic-ext);
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================
//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================
//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto",
sans-serif;
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================
//</ШРИФТЫ>=======================================================================================================
//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1240;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$md5: 319.98;
$mainColor: #000;
//</ПЕРЕМЕННЫЕ>===========================================================================================================
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
    color: $mainColor;
    &._lock {
        overflow: hidden;
    }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================
//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 15px;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
    flex: 1 1 auto;
}

//===================================================================================================================================
.page-hero {
    padding-bottom: 40px;
}

.page-counters {
    padding: 40px 0px 80px 0px;
}

.page-services {
    position: relative;
    background-color: #F2F9FD;
    padding: 40px 0px 130px 0px;
    @media (max-width: 500px) {
        padding: 0px 0px 35px 0px;
    }
    &::before {
        content: "";
        position: absolute;
        width: 63px;
        height: 59px;
        top: 0;
        right: 0;
        background-image: url(../img/triangle.svg);
        background-repeat: no-repeat;
        background-size: 63px 59px;
        @media (max-width: $md3+px) {
            width: 22px;
            height: 26px;
            background-size: 22px 26px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 105px;
        height: 102px;
        bottom: 0;
        left: 0;
        background-image: url(../img/triangle-b.svg);
        background-repeat: no-repeat;
        @media (max-width: $md3+px) {
            width: 38px;
            height: 36px;
            background-size: 38px 36px;
        }
    }
}

.page-working {
    padding-top: 50px;
    padding-bottom: 100px;
    @media (max-width: 590px) {
        padding-top: 0;
    }
}

.page-advantages {
    position: relative;
    background-color: #F2F9FD;
    padding: 40px 0px 130px 0px;
    @media (max-width: 500px) {
        padding: 40px 0px 50px 0px;
    }
    &::before {
        content: "";
        position: absolute;
        width: 63px;
        height: 59px;
        top: 2px;
        left: -1px;
        transform: rotate(-90deg);
        background-image: url(../img/triangle.svg);
        background-repeat: no-repeat;
        background-size: 63px 59px;
        @media (max-width: $md3+px) {
            width: 22px;
            height: 26px;
            background-size: 22px 26px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 105px;
        height: 102px;
        bottom: 2px;
        right: -1px;
        transform: rotate(-90deg);
        background-image: url(../img/triangle-b.svg);
        background-repeat: no-repeat;
        @media (max-width: $md3+px) {
            width: 38px;
            height: 36px;
            background-size: 38px 36px;
        }
    }
}

.page-partners {
    position: relative;
    background-color: #F2F9FD;
    padding: 40px 0px 130px 0px;
    @media (max-width: 768px) {
        padding: 40px 0px 50px 0px;
    }
    @media (max-width: 500px) {
        padding: 0px 0px 50px 0px;
    }
    &::before {
        content: "";
        position: absolute;
        width: 63px;
        height: 59px;
        top: 0;
        right: 0;
        background-image: url(../img/triangle.svg);
        background-repeat: no-repeat;
        background-size: 63px 59px;
        @media (max-width: $md3+px) {
            width: 22px;
            height: 26px;
            background-size: 22px 26px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 105px;
        height: 102px;
        bottom: 0;
        left: 0;
        background-image: url(../img/triangle-b.svg);
        background-repeat: no-repeat;
        @media (max-width: $md3+px) {
            width: 38px;
            height: 36px;
            background-size: 38px 36px;
        }
    }
}

.page-team {
    padding-top: 50px;
    padding-bottom: 50px;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

/*---Hero Blok--------------------------------------------------------*/

.hero {
    position: relative;
}

.hero__body {
    padding: 188px 0 350px 0;
    @media (max-width: 1000px) {
        padding: 150px 0 170px 0;
    }
    @media (max-width: 500px) {
        padding: 150px 0 70px 0;
    }
}

.hero__title {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: calc(80/64*100%);
    letter-spacing: 3px;
    max-width: 400px;
    padding-bottom: 51px;
    color: #FFFFFF;
    z-index: 2;
    @media (max-width: 500px) {
        font-size: 42px;
        line-height: 125%;
        padding-bottom: 30px;
    }
}

.hero__title_color {
    color: #FF7862;
}

.hero__subtitle {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: .3px;
    max-width: 500px;
    color: #FFFFFF;
    z-index: 3;
    @media (max-width: 500px) {
        font-size: 16px;
    }
}

.hero__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero__image img {
    background: radial-gradient(36.16% 183.1% at 26.38% 100%, rgba(39, 119, 172, 0.58) 0%, rgba(45, 113, 180, 0.90625) 0.01%, rgba(105, 57, 255, 0) 100%), url(bg.jpg);
    filter: blur(1px);
}


/*---Counters Blok--------------------------------------------------------*/

.counters {
    &__title {
        margin-bottom: 80px;
        @media (max-width: 500px) {
            margin-bottom: 50px;
        }
    }
    // .advantages__body
    &__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px -30px;
    }
    // .advantages__column
    &__column {
        padding: 0 15px 30px;
        flex: 0 1 25%;
        @media (max-width: 1000px) {
            flex: 0 1 50%;
        }
        @media (max-width: 500px) {
            flex: 0 1 100%;
        }
    }
    // .advantages__item
    &__item {
        background-color: #fff;
        padding: 30px;
        text-align: center;
        box-shadow: 3px 3px 4px rgba(145, 199, 233, 0.28);
        height: 100%;
    }
    &__item>*:not(:last-child) {
        padding-bottom: 10px;
    }
    // .advantages__icon
    &__icon {
        height: 48px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    // .advantages__value
    &__value {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: calc(57/40*100%);
        letter-spacing: 0.2px;
        color: #FF7862;
    }
    // .advantages__text
    &__text {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.1px;
        color: #737373;
    }
}

.title {
    position: relative;
    font-family: Montserrat sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #3E3E3E;
    @media (max-width: 500px) {
        font-size: 34px;
    }
    &::after {
        content: "";
        position: absolute;
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 6px;
        bottom: -20px;
        left: 0;
        right: 0;
        background-color: #FF7862;
        border-radius: 11px;
        @media (max-width: 500px) {
            height: 4px;
            bottom: -15px;
        }
    }
}


/*---Services Blok--------------------------------------------------------*/

.services {
    // .services__header
    &__header {
        padding: 50px 0px;
        @media (max-width: 500px) {
            padding: 35px;
        }
    }
    // .services__body
    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -15px -30px;
    }
    // .services__column
    &__column {
        // border: 1px solid #000;
        padding: 0 15px 30px;
        flex: 0 1 33.3333%;
    }
    // &__column_b {
    //     padding: 0 15px 30px;
    //     flex: 0 1 350px;
    // }
    // .services__item
    &__item {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    &__item_01 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__item_03 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    // .services__icon
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // .services__title
    &__title {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        line-height: calc(29/24*100%);
        color: #000000;
        padding: 21px 0px;
    }
    // .services__list
}

.service {
    &__list {
        flex: 1 1 auto;
        &__items {
            font-family: Montserrat, sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: calc(20/16*100%);
            color: #000000;
        }
    }
    &__list li:not(:last-child) {
        padding-bottom: 10px;
    }
    // &__list li:first-child {
    //     margin-left: 50px;
    // }
    &__list li {
        position: relative;
        margin-left: 50px;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(20/16*100%);
        color: #000000;
        &::before {
            content: "";
            position: absolute;
            border: 2px solid #FF7761;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            top: 4px;
            left: -20px;
        }
    }
    &__icon {
        display: flex;
        justify-content: center;
    }
}

.header-blok {
    // .header-blok__title
    &__title {}
    // .header-blok__subtitle
    &__subtitle {
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 36px;
        line-height: 133%;
        text-align: center;
        color: #3E3E3E;
        padding-top: 30px;
        @media (max-width: 500px) {
            font-size: 24px;
        }
    }
}

.service__body {
    margin: 0 auto;
}

.service__row {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    margin: -22.5px -22.5px;
    @media (max-width: 1050px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.service__column {
    padding: 22.5px 22.5px;
    display: flex;
}

.service__item {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    @media (max-width: 500px) {
        align-items: center;
    }
}

.service__label {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: inherit;
    text-transform: uppercase;
    line-height: calc(29/24*100%);
    color: #000000;
    padding: 20px 0px;
    @media (max-width: 1050px) {
        font-size: 16px;
        text-align: center;
    }
}


/*---Working Blok--------------------------------------------------------*/

.working {
    &__title {
        padding-top: 40px;
    }
}

.working {
    // .working__body
    &__body {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        flex-wrap: wrap;
        margin-top: 80px;
        @media (max-width: 1000px) {
            display: block;
        }
        @media (max-width: 590px) {
            margin-top: 50px;
        }
    }
    // .working__content
    &__content {
        flex: 0 1 50%;
    }
}

.item-working {
    position: relative;
    max-width: 525px;
    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: calc(26/24*100%);
        color: #000000;
        @media (max-width: 680px) {
            font-size: 18px;
        }
        @media (max-width: 590px) {
            font-size: 16px;
        }
    }
    // .working__text
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #000000;
        @media (max-width: 680px) {
            font-size: 16px;
        }
        @media (max-width: 590px) {
            font-size: 14px;
        }
    }
}

.item-working>*:not(:last-child) {
    padding-bottom: 15px;
}

.column {
    box-sizing: border-box;
    flex: 0 1 50%;
    display: block;
    position: relative;
}

.col-1 {
    position: relative;
    border-right: 6px solid #FF7862;
    padding: 50px 90px 0px 15px;
    display: block;
    @media (max-width: 1000px) {
        border-right: none;
        border-left: 6px solid #FF7862;
        padding: 50px 90px 10px 80px;
    }
    @media (max-width: 680px) {
        padding: 30px 90px 10px 80px;
    }
    @media (max-width: 590px) {
        border-left: 4px solid #FF7862;
        padding: 15px 0px 10px 50px;
    }
}

.col-2 {
    position: relative;
    margin-left: 0px;
    padding: 120px 15px 0px 110px;
    @media (max-width: 1000px) {
        border-left: 6px solid #FF7862;
        padding: 50px 15px 10px 80px;
    }
    @media (max-width: 680px) {
        padding: 30px 15px 10px 80px;
    }
    @media (max-width: 590px) {
        border-left: 4px solid #FF7862;
        padding: 15px 15px 10px 50px;
    }
}

.col-1::before {
    content: "";
    width: 50px;
    height: 6px;
    position: absolute;
    top: 33%;
    right: -2px;
    background-color: #FF7862;
    @media (max-width: 1000px) {
        content: "";
        width: 40px;
        height: 6px;
        position: absolute;
        top: 38%;
        left: -2px;
        background-color: #FF7862;
    }
    @media (max-width: 590px) {
        content: "";
        width: 25px;
        height: 4px;
        position: absolute;
        top: 27.5%;
        left: -2px;
        transform: translateY(-50%);
        background-color: #FF7862;
    }
}

.col-1::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 0%;
    position: absolute;
    top: 34%;
    right: 45px;
    transform: translateY(-50%) rotate(45deg);
    background-color: #FF7862;
    @media (max-width: 1000px) {
        content: "";
        width: 15px;
        height: 15px;
        border-radius: 0%;
        position: absolute;
        top: 40.5%;
        left: 35px;
        transform: translateY(-50%) rotate( 45deg);
        background-color: #FF7862;
    }
    @media (max-width: 590px) {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 0%;
        position: absolute;
        top: 27.5%;
        left: 21px;
        transform: translateY(-50%) rotate( 45deg);
        background-color: #FF7862;
    }
}

.col-2::before {
    content: "";
    width: 50px;
    height: 6px;
    position: absolute;
    top: 50.7%;
    left: 0;
    background-color: #FF7862;
    @media (max-width: 1000px) {
        content: "";
        width: 40px;
        height: 6px;
        position: absolute;
        top: 35%;
        left: 0px;
        background-color: #FF7862;
    }
    @media (max-width: 590px) {
        content: "";
        width: 20px;
        height: 4px;
        position: absolute;
        top: 18.5%;
        left: 0px;
        transform: translateY(-50%);
        background-color: #FF7862;
    }
}

.col-2::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 0%;
    position: absolute;
    top: 51.5%;
    left: 45px;
    transform: translateY(-50%) rotate(45deg);
    background-color: #FF7862;
    @media (max-width: 1000px) {
        content: "";
        width: 15px;
        height: 15px;
        border-radius: 0%;
        position: absolute;
        top: 36.5%;
        left: 39px;
        transform: translateY(-50%) rotate( 45deg);
        background-color: #FF7862;
    }
    @media (max-width: 590px) {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 0%;
        position: absolute;
        top: 18.5%;
        left: 18px;
        transform: translateY(-50%) rotate( 45deg);
        background-color: #FF7862;
    }
}


/*---Advantages Blok--------------------------------------------------------*/

.advantages {
    &__title {
        margin-bottom: 135px;
        @media (max-width: 500px) {
            margin-bottom: 100px;
        }
    }
    // .advantages__body
    &__body {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -15px -90px;
        @media (max-width: 700px) {
            margin: 0 -15px -60px;
        }
    }
    // .advantages__column
    &__column {
        padding: 0 15px 90px;
        flex: 0 1 33.333%;
        @media (max-width: 1000px) {
            flex: 0 1 50%;
        }
        @media (max-width: 700px) {
            flex: 0 1 100%;
            padding: 0 15px 60px;
        }
    }
    // .advantages__item
    &__item {
        background: #FFFFFF;
        border-radius: 6px;
        padding: 30px;
        text-align: left;
        box-shadow: 3px 3px 4px rgba(145, 199, 233, 0.28);
        height: 100%;
    }
    &__item>*:not(:last-child) {
        padding-bottom: 30px;
        @media (max-width: 700px) {
            padding-bottom: 25px;
        }
    }
    // .advantages__icon
    &__icon {
        position: relative;
        margin-top: -60px;
        height: 183px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @media (max-width: 700px) {
            margin-top: -40px;
        }
    }
    // .advantages__value
    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 136%;
        color: #000000;
        @media (max-width: 700px) {
            font-size: 18px;
        }
    }
    // .advantages__text
    &__subtext {
        font-size: 16px;
        line-height: 150%;
        color: #000000;
    }
}


/*---Team  Blok--------------------------------------------------------*/

.team {
    &__title {
        margin-bottom: 80px;
        @media (max-width: 500px) {
            margin-bottom: 50px;
        }
    }
    // .advantages__body
    &__body {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        // margin: 0 -15px -30px;
    }
    // .advantages__column
    &__column {
        padding: 0 15px 30px;
        flex: 0 1 25%;
        @media (max-width: 1000px) {
            flex: 0 1 50%;
        }
        @media (max-width: 500px) {
            flex: 0 1 100%;
        }
    }
    // .advantages__item
    &__item {
        background-color: #fff;
        padding: 30px;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item>*:not(:last-child) {
        padding-bottom: 10px;
    }
    // .advantages__icon
    &__icon {
        width: 190px;
        height: 193px;
        display: flex;
        border-radius: 50%;
        align-items: flex-end;
        justify-content: center;
        object-fit: cover;
    }
    &__icon img {
        border-radius: 50%;
        object-fit: cover;
    }
    // .advantages__value
    &__job {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: calc(57/40*100%);
        letter-spacing: 0.2px;
        padding-top: 15px;
        color: #FF7862;
    }
    // .advantages__text
    &__name {
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: #20A0C9;
    }
}

.slider {
    position: relative;
}

// .slick-next {
//     background-image: url(../img/arrow-next.svg);
//     background-repeat: no-repeat;
//     background-size: 17px 16px;
//     background-position: center;
// }
// .slick-prev {
//     background-image: url(../img/arrow-prev.svg);
//     background-repeat: no-repeat;
//     background-size: 17px 16px;
//     background-position: center;
// }
.slick-next {
    position: absolute;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    background-image: url(../img/arrow-next.svg);
    background-repeat: no-repeat;
    background-size: 17px 16px;
    background-position: center;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-indent: -9999px;
    display: block;
    width: 40px;
    height: 40px;
    opacity: 1;
    transition: background-color 0.3s ease;
    cursor: pointer;
    z-index: 999;
    &:hover {
        background-color: #FF7862;
        border: 1px solid #FF7862;
        background-image: url(../img/arrow-2.svg);
    }
}

.slick-prev {
    position: absolute;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    background-image: url(../img/arrow-prev-1.svg);
    background-repeat: no-repeat;
    background-size: 17px 16px;
    background-position: center;
    top: 50%;
    left: 0;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    text-indent: -9999px;
    display: block;
    width: 40px;
    height: 40px;
    opacity: 1;
    transition: 0.3s ease;
    cursor: pointer;
    z-index: 999;
    &:hover {
        background-color: #FF7862;
        border: 1px solid #FF7862;
        background-image: url(../img/arrow-1.svg);
    }
}


/*---Partners  Blok--------------------------------------------------------*/

.partners {
    &__title {
        margin-bottom: 80px;
        @media (max-width: 500px) {
            padding-top: 15px;
            margin-bottom: 50px;
        }
    }
    // .advantages__body
    &__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px -30px;
    }
    // .advantages__column
    &__column {
        padding: 0 15px 30px;
        flex: 0 1 25%;
        @media (max-width: 1000px) {
            flex: 0 1 50%;
        }
        @media (max-width: 500px) {
            flex: 0 1 100%;
        }
    }
    // .advantages__item
    &__item {
        background-color: #fff;
        text-align: center;
        height: 100%;
    }
    &__item>*:not(:last-child) {
        padding-bottom: 5px;
    }
    // .advantages__icon
    &__icon {
        background-color: #fff;
        min-height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // .advantages__text
    &__subtext {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        background: #fff;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.1px;
        color: #737373;
        border-top: 2px solid #E8E8E8;
        padding: 15px 30px;
    }
}